body {
    font-family: sans-serif;
    background-color: #DCE5DD;
}

.vezWrapper{
    font-family: sans-serif;
    color: #4A5759;
    font-size: 25px;
    margin-top: 50px;
}

.turn{
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 40px;
    color: #CE796B;

}

.appWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.titleWrapper {
    font-family: sans-serif;
    color: #4A5759;
}

.pontosWrapper {
    font-family: sans-serif;
    color: #4A5759;
    font-size: 20px;
}

.points-team-a {
color: #CE796B;
}

.points-team-b {
    color: #CE796B;
}