.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  width: 300px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}
.cardi{
  font-family: sans-serif;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbs-down {
  background-color: red;
}

.thumbs-up {
  background-color: green;
}


.spani {
 font-size: 20px;
 margin-top: 10px;
 border-radius: 30px;
 margin-right: 15px;
 
 width: 10px;
}



.botoes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
  margin-bottom: 10px;

}

#bution {
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  

}

.ruan {
  
 align-self: baseline;
  font-family: sans-serif;
  color: red;
  font-size: 20px;
}


.points {
  color: blue;
}