.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  width: 300px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}
.cardi {
  font-family: 'Lora', serif;
  font-family: 'Raleway', sans-serif;
  
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbs-down {
  background-color: #EAC3C5;
  color: rgb(46, 2, 2);
}

.thumbs-up {
 background-color: #C6DEA6;
 color: #085008;
}


.spani {
 font-size: 20px;
 margin-top: 10px;
 border-radius: 30px;
 margin-right: 15px;
 
 width: 10px;
}



.botoes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
  margin-bottom: 10px;

}

#bution {
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  

}

.ruan {
  
 align-self: baseline;
  font-family: sans-serif;
  color: #5c3d52;
  font-size: 20px;
}


.points {
  color: #8a5f7c;
}

